body { background-color: #1c0445;
    background-image: linear-gradient(0deg, #1c0445 0%, #7f31e2 50%, #a271e8 100%);
}
main {
    padding-left: 2vw;
}

html {
    scroll-behavior: smooth;
}

header {
    display: flex;
    justify-content: center;
}

h2 {
    margin-inline-start: 40px;
}

ul {
    list-style: none;
}

.navLista {
    display: flex;
    list-style: none;
    font-size: 38px;
    gap: 28px;
    color: white;
    text-transform: uppercase;
}

.navLista a {
    text-decoration: none;
    color: white;
}

.navLista a:hover {
    color: black;
}
 
.navItem:hover {
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    color: black;
    border-radius: 10px;
}

.secao {
    width: 100%;
}

.secao ul {
    display: flex;
    gap: 1vw;
    padding-left: 0%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.secao ul li {
    transition: 200ms;
    margin-bottom: 0%;
    border-radius: 5px;
}

.secao ul li:hover {
    border: 1px solid white;
}

.titulo_section {
    font-size: 5mm;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.moldura_videos {
    flex-wrap: wrap;
    justify-content: space-around;
}
